/* d2718.net/blog */

/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WRP2l2eY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/inconsolata/v31/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --text-font: "Merriweather";
    --mono-font: "Inconsolata";
    --text-color: #cde;
    --alt-color: #acb;
    --body-color: #222;
    --link-color: #eca;
    --visited-color: #aaa;
    --alt-bg:   #112;
    --alt-text: #edc;
}

* { border: 0; padding: 0; margin: 0; box-sizing: border-box; }


body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--text-font);
    padding: 1rem;
}

p, ul, ol, dl {
    line-height: 1.6;
    text-align: justify;
}
li { margin-left: 2rem; }

blockquote {
    padding: 1rem;
    background-color: #000;
    color: var(--alt-color);
    border: 1px solid var(--body-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:visited { color: var(--visited-color); }
a:hover   { border-bottom: 1px dotted; }

.fw {
    padding-left: 1rem; padding-right: 1rem;
    margin-left: 1rem; margin-right: 1rem;
}

div#header > p#subtitle { margin-top: 1rem; }

div#nav {
    text-align: center;
    margin-top: 1rem; margin-bottom: 1rem;
}

div#nav div { display: inline-block; margin-left: 1em; margin-right: 1em; }

div#footer { padding: 0; margin: 1ex 1rem 0 1rem; }

div#footer p { text-align: right; font-size:  smaller; }

div#latest > p:first-child { padding: 0 1rem 0 2rem; }

div.preview {
    margin: 1rem; padding: 1rem;
    background-color: var(--alt-bg);
}

div.preview h3 { font-weight: bold; }
p.time  {
    font-variant: small-caps;
    font-size: smaller;
    margin-bottom: 1rem;
}

div#content {
    background-color: var(--alt-bg);
    padding: 1rem;
}
div#content > * { margin-bottom: 1.6rem; }
div#content > *:last-child { margin-bottom: 0; }
div#content > h1,
div#content > h2,
div#content > h3,
div#content > h4 { margin-top: 3.2rem; }

hr {
    border: 0.3ex solid var(--body-color);
    border-radius: 1ex;
    margin: 1rem;
}

code {
    background-color: #000;
    font-size: 1rem;
    border: 2px solid var(--body-color);
    border-radius: 0.5ex;
}

h1 code, h2 code, h3 code, h4 code { font-size: inherit; }

pre.chroma {
    background-color: #000;
    border-top: 2px solid var(--body-color);
    border-bottom: 2px solid var(--body-color);
    padding: 1rem;
    margin-left: -1rem; margin-right: -1rem;
    font-size: 1rem;
    line-height: 1.4;
}

/*
chroma syntax styles
https://github.com/alecthomas/chroma
*/

/* comments */
pre.chroma .c,      /* comment */
pre.chroma .ch,     /* comment hashbang */
pre.chroma .c1,     /* comment single */
pre.chroma .cs,     /* comment special */
pre.chroma .cm      /* comment multiline */
    { color: #aa8; }

/* error */ pre.chroma span.err { color: #822; }

/* line numbering */
pre.chroma .lntd,       /* line table TD */
pre.chroma .lntable,    /* line table */
pre.chroma .lnt,        /* line numbers table */
pre.chroma .ln          /* line numbers */
    { /* no rules */ }

/* line highlight */ pre.chroma .hl { /* no rules */ }

/* preprocessor */
pre.chroma .cp      /* comment preprocessor */
    { color: #484; }
pre.chroma .cpf     /* comment preprocessor file */
    { color: #642; }

/* whitespace */ pre.chroma .w { /* no rules */ }

/* brackets */ pre.chroma .p { /* no rules */ }

/* keywords */
pre.chroma .k,      /* keyword */
pre.chroma .kc,     /* keyword constant */
pre.chroma .kd,     /* keyword declaration */
pre.chroma .kn,     /* keyword namespace */
pre.chroma .kp,     /* keyword pseudo */
pre.chroma .kr,     /* keyword reserved */
pre.chroma .kt      /* keyword type */
    { font-weight: bold; }

/* names */
pre.chroma .n  { color: #ace; }
pre.chroma .na,     /* name attribute */
pre.chroma .nb,     /* name builtin */
pre.chroma .bp,     /* name builtin pseudo */
pre.chroma .nc,     /* name class */
pre.chroma .no,     /* name constant */
pre.chroma .nd,     /* name decorator */
pre.chroma .ni,     /* name entity */
pre.chroma .ne,     /* name exception */
pre.chroma .nf,     /* name function */
pre.chroma .nl,     /* name label */
pre.chroma .nn,     /* name namespace */
pre.chroma .nt,     /* name tag */
pre.chroma .nv,     /* name variable */
pre.chroma .vc,     /* name variable class */
pre.chroma .vg,     /* name variable global */
pre.chroma .vi      /* name variable instance */
    { color: #a88; }

/* literals */
pre.chroma .m,      /* literal number */
pre.chroma .mb,     /* literal number binary */
pre.chroma .mf,     /* literal number float */
pre.chroma .mi,     /* literal number integer */
pre.chroma .mh,     /* literal number hex */
pre.chroma .il,     /* literal number long integer */
pre.chroma .mo,     /* literal number octal */
pre.chroma .s,      /* literal string */
pre.chroma .sa,     /* literal string affix */
pre.chroma .sb,     /* literal string backtick */
pre.chroma .sc,     /* literal string char */
pre.chroma .dl,     /* literal string delimiter */
/* pre.chroma .sd,     /* literal string doc */
pre.chroma .se      /* literal string escape */
pre.chroma .sh,     /* literal string heredoc */
pre.chroma .si,     /* literal string interpolate */
pre.chroma .sx,     /* literal string other */
pre.chroma .sr,     /* literal string regex */
pre.chroma .s2,     /* literal string double */
pre.chroma .s1,     /* literal string single */
pre.chroma .ss      /* literal string symbol */
    { color: #a6a; }
pre.chroma .sd      /* literal string doc */
    { color: #aa8; }    /* it's a comment */


/* operators */
pre.chroma .o,      /* operator */
pre.chroma .ow      /* operator word */
    { /* no rules */ }

/* generics */
pre.chroma .gd,     /* generic deleted */
pre.chroma .ge,     /* generic emphasis */
pre.chroma .gr,     /* generic error */
pre.chroma .gh,     /* generic heading */
pre.chroma .gi,     /* generic inserted */
pre.chroma .go,     /* generic output */
pre.chroma .gp,     /* generic prompt */
pre.chroma .gs,     /* generic strong */
pre.chroma .gu,     /* generic subheading */
pre.chroma .gt      /* generic traceback */
    { /* no rules */ }
