:root {
    --mono: monospace;
}

body {
    border: 0; padding: 0; margin: 0;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    padding: 1ex;
    gap: 1ex;
}

div#main-contain {
    display: flex;
    flex-wrap: wrap;
}
div#main-contain > * { display: inline-block; }
pre.sourceCode { padding: 1em; }

button { font-family: var(--mono); }
select {
    color: inherit;
    background-color: inherit;
}
table { border-collapse: collapse; }


div#app { }

div#theme {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    gap: 1em;
}

div#theme > * { display: inline-block; }

table#palette-table td { padding: 1ex; }

div.colorblocks {    
    white-space: pre;
    text-align: center;
}
div.colorblocks > input { width: 5ex; }
div.colorbars { text-align: center; }
div.colorbars > input { width: 18ex; }

table#theme-table th { padding: 1ex; }
table#theme-table td {
    padding: 1ex 0;
    text-align: center;
}
table#theme-table td.span-name {
    padding: 1ex;
    text-align: left;
}
