<pre class="chroma"><code><span class="line"><span class="cl"><span class="cp">#!/usr/bin/env bash
</span></span></span><span class="line"><span class="cl"><span class="cp"></span>
</span></span><span class="line"><span class="cl"><span class="c1"># I couldn&#39;t figure out how to do this one by solely</span>
</span></span><span class="line"><span class="cl"><span class="c1"># delegating to POSIX utilities.</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># The brain-dead self-explanatory comments are for me when I</span>
</span></span><span class="line"><span class="cl"><span class="c1"># look at this later.</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Doubles its argument; if the resulting value is two digits,</span>
</span></span><span class="line"><span class="cl"><span class="c1"># subtracts 9.</span>
</span></span><span class="line"><span class="cl">quasidouble<span class="o">()</span> <span class="o">{</span>
</span></span><span class="line"><span class="cl">  <span class="nb">local</span> -i <span class="nv">i</span><span class="o">=</span><span class="nv">$1</span>
</span></span><span class="line"><span class="cl">  <span class="k">if</span> <span class="o">[[</span> <span class="nv">$i</span> -lt <span class="m">5</span> <span class="o">]]</span> <span class="p">;</span> <span class="k">then</span>
</span></span><span class="line"><span class="cl">    <span class="nb">echo</span> <span class="k">$((</span> <span class="m">2</span> <span class="o">*</span> i <span class="k">))</span>
</span></span><span class="line"><span class="cl">  <span class="k">else</span>
</span></span><span class="line"><span class="cl">    <span class="nb">echo</span> <span class="k">$((</span> i <span class="o">*</span> <span class="m">2</span> <span class="o">-</span> <span class="m">9</span> <span class="k">))</span>
</span></span><span class="line"><span class="cl">  <span class="k">fi</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Having this as a function makes for cleaner early returns.</span>
</span></span><span class="line"><span class="cl">return_false<span class="o">()</span> <span class="o">{</span>
</span></span><span class="line"><span class="cl">  <span class="nb">echo</span> <span class="s2">&#34;false&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="nb">exit</span> <span class="m">0</span>
</span></span><span class="line"><span class="cl"><span class="o">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># The £ symbol makes rev choke and die, so we have to check</span>
</span></span><span class="line"><span class="cl"><span class="c1"># for invalid characters up front.</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="nb">echo</span> <span class="s2">&#34;</span><span class="nv">$1</span><span class="s2">&#34;</span> <span class="p">|</span> grep -Eqv <span class="s1">&#39;^[[:space:][:digit:]]+$&#39;</span><span class="p">;</span> <span class="k">then</span> return_false<span class="p">;</span> <span class="k">fi</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Strip spaces, reverse order, and read in the output as an</span>
</span></span><span class="line"><span class="cl"><span class="c1"># array of individual digits.</span>
</span></span><span class="line"><span class="cl">readarray -t digits &lt; &lt;<span class="o">(</span><span class="nb">echo</span> <span class="s2">&#34;</span><span class="nv">$1</span><span class="s2">&#34;</span> <span class="p">|</span> tr -d <span class="o">[[</span>:space:<span class="o">]]</span> <span class="p">|</span> rev <span class="p">|</span> grep -o . <span class="o">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1"># Single (or zero) -digit strings are invalid.</span>
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="o">[[</span> <span class="si">${#</span><span class="nv">digits</span><span class="p">[@]</span><span class="si">}</span> -lt <span class="m">2</span> <span class="o">]]</span><span class="p">;</span> <span class="k">then</span> return_false<span class="p">;</span> <span class="k">fi</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nb">declare</span> -i <span class="nv">accum</span><span class="o">=</span><span class="m">0</span>
</span></span><span class="line"><span class="cl"><span class="k">for</span> i in <span class="s2">&#34;</span><span class="si">${</span><span class="p">!digits[@]</span><span class="si">}</span><span class="s2">&#34;</span><span class="p">;</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">  <span class="nv">d</span><span class="o">=</span><span class="si">${</span><span class="nv">digits</span><span class="p">[i]</span><span class="si">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="k">if</span> <span class="o">[[</span> <span class="k">$((</span> i <span class="o">%</span> <span class="m">2</span> <span class="k">))</span> <span class="o">==</span> <span class="m">0</span> <span class="o">]]</span><span class="p">;</span> <span class="k">then</span>
</span></span><span class="line"><span class="cl">     <span class="o">((</span> <span class="nv">accum</span> <span class="o">=</span> accum + d<span class="o">))</span>
</span></span><span class="line"><span class="cl">  <span class="k">else</span>
</span></span><span class="line"><span class="cl">    <span class="nv">n</span><span class="o">=</span><span class="k">$(</span>quasidouble <span class="s2">&#34;</span><span class="nv">$d</span><span class="s2">&#34;</span><span class="k">)</span>
</span></span><span class="line"><span class="cl">    <span class="o">((</span> <span class="nv">accum</span> <span class="o">=</span> accum + n<span class="o">))</span>
</span></span><span class="line"><span class="cl">  <span class="k">fi</span>
</span></span><span class="line"><span class="cl"><span class="k">done</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="k">if</span> <span class="o">[[</span> <span class="k">$((</span> accum <span class="o">%</span> <span class="m">10</span> <span class="k">))</span> -ne <span class="m">0</span> <span class="o">]]</span><span class="p">;</span> <span class="k">then</span> return_false<span class="p">;</span> <span class="k">fi</span>
</span></span><span class="line"><span class="cl"><span class="nb">echo</span> <span class="s2">&#34;true&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span></code></pre>
