<pre class="chroma"><code><span class="line"><span class="cl"><span class="kd">defmodule</span> <span class="nc">Frequency</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">merge_maps</span><span class="p">(</span><span class="n">a</span><span class="p">,</span> <span class="n">b</span><span class="p">),</span> <span class="ss">do</span><span class="p">:</span> <span class="nc">Map</span><span class="o">.</span><span class="n">merge</span><span class="p">(</span><span class="n">a</span><span class="p">,</span> <span class="n">b</span><span class="p">,</span> <span class="k">fn</span><span class="p">(</span><span class="n">_k</span><span class="p">,</span> <span class="n">v1</span><span class="p">,</span> <span class="n">v2</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="n">v1</span> <span class="o">+</span> <span class="n">v2</span> <span class="k">end</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">letter?</span><span class="p">(</span><span class="n">ch</span><span class="p">),</span> <span class="ss">do</span><span class="p">:</span> <span class="nc">String</span><span class="o">.</span><span class="n">match?</span><span class="p">(</span><span class="n">ch</span><span class="p">,</span> <span class="sx">~r/\p{L}/u</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">fold_text</span><span class="p">(</span><span class="n">ch</span><span class="p">,</span> <span class="n">acc</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="n">letter?</span><span class="p">(</span><span class="n">ch</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">      <span class="nc">Map</span><span class="o">.</span><span class="n">update</span><span class="p">(</span><span class="n">acc</span><span class="p">,</span> <span class="n">ch</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="k">fn</span><span class="p">(</span><span class="n">n</span><span class="p">)</span> <span class="o">-&gt;</span> <span class="n">n</span> <span class="o">+</span> <span class="mi">1</span> <span class="k">end</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">else</span>
</span></span><span class="line"><span class="cl">      <span class="n">acc</span>
</span></span><span class="line"><span class="cl">    <span class="k">end</span>
</span></span><span class="line"><span class="cl">  <span class="k">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">work</span><span class="p">(</span><span class="n">sender_pid</span><span class="p">,</span> <span class="n">collator_pid</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">    <span class="k">receive</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">      <span class="ss">:start</span> <span class="o">-&gt;</span> 
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.inspect(self())</span>
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.puts(&#34;    started&#34;)</span>
</span></span><span class="line"><span class="cl">        <span class="n">send</span><span class="p">(</span><span class="n">sender_pid</span><span class="p">,</span> <span class="n">self</span><span class="p">())</span>
</span></span><span class="line"><span class="cl">        <span class="n">work</span><span class="p">(</span><span class="n">sender_pid</span><span class="p">,</span> <span class="n">collator_pid</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">      <span class="p">{</span><span class="ss">:text</span><span class="p">,</span> <span class="n">text</span><span class="p">}</span> <span class="o">-&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.inspect(self())</span>
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.puts(&#34;    rec&#39;d text of size #{String.length(text)}&#34;)</span>
</span></span><span class="line"><span class="cl">        <span class="n">counts</span> <span class="o">=</span> <span class="nc">String</span><span class="o">.</span><span class="n">graphemes</span><span class="p">(</span><span class="n">text</span><span class="p">)</span> <span class="o">|&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="nc">Enum</span><span class="o">.</span><span class="n">reduce</span><span class="p">(%{},</span> <span class="o">&amp;</span><span class="n">fold_text</span><span class="o">/</span><span class="mi">2</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="n">send</span><span class="p">(</span><span class="n">collator_pid</span><span class="p">,</span> <span class="n">counts</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="n">send</span><span class="p">(</span><span class="n">sender_pid</span><span class="p">,</span> <span class="n">self</span><span class="p">())</span>
</span></span><span class="line"><span class="cl">        <span class="n">work</span><span class="p">(</span><span class="n">sender_pid</span><span class="p">,</span> <span class="n">collator_pid</span><span class="p">)</span>  
</span></span><span class="line"><span class="cl">      <span class="ss">:done</span> <span class="o">-&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.inspect(self())</span>
</span></span><span class="line"><span class="cl">        <span class="c1">#IO.puts(&#34;    done&#34;)</span>
</span></span><span class="line"><span class="cl">        <span class="n">send</span><span class="p">(</span><span class="n">collator_pid</span><span class="p">,</span> <span class="ss">:done</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">end</span>
</span></span><span class="line"><span class="cl">  <span class="k">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">collate</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="n">n_workers</span><span class="p">,</span> <span class="n">totals</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">    <span class="c1">#IO.puts(&#34;collator: #{n_workers} workers&#34;)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="n">n_workers</span> <span class="o">==</span> <span class="mi">0</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">      <span class="n">send</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="n">totals</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">else</span>
</span></span><span class="line"><span class="cl">      <span class="k">receive</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">        <span class="ss">:done</span> <span class="o">-&gt;</span> <span class="n">collate</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="n">n_workers</span> <span class="o">-</span> <span class="mi">1</span><span class="p">,</span> <span class="n">totals</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="n">counts</span> <span class="o">-&gt;</span> <span class="n">collate</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="n">n_workers</span><span class="p">,</span> <span class="n">merge_maps</span><span class="p">(</span><span class="n">counts</span><span class="p">,</span> <span class="n">totals</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">      <span class="k">end</span>
</span></span><span class="line"><span class="cl">    <span class="k">end</span>
</span></span><span class="line"><span class="cl">  <span class="k">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="kd">defp</span> <span class="n">loop</span><span class="p">(</span><span class="n">texts</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">    <span class="k">receive</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">      <span class="n">pid</span> <span class="o">-&gt;</span>
</span></span><span class="line"><span class="cl">        <span class="k">case</span> <span class="n">texts</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">          <span class="p">[]</span> <span class="o">-&gt;</span> <span class="n">send</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="ss">:done</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="n">loop</span><span class="p">([])</span>
</span></span><span class="line"><span class="cl">          <span class="p">[</span><span class="n">next</span> <span class="o">|</span> <span class="n">rest</span><span class="p">]</span> <span class="o">-&gt;</span> <span class="n">send</span><span class="p">(</span><span class="n">pid</span><span class="p">,</span> <span class="p">{</span><span class="ss">:text</span><span class="p">,</span> <span class="nc">String</span><span class="o">.</span><span class="n">downcase</span><span class="p">(</span><span class="n">next</span><span class="p">)})</span>
</span></span><span class="line"><span class="cl">                           <span class="n">loop</span><span class="p">(</span><span class="n">rest</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="k">end</span>
</span></span><span class="line"><span class="cl">    <span class="k">end</span>
</span></span><span class="line"><span class="cl">  <span class="k">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">  <span class="na">@doc</span> <span class="sh">&#34;&#34;&#34;
</span></span></span><span class="line"><span class="cl"><span class="sh">  Count letter frequency in parallel.
</span></span></span><span class="line"><span class="cl"><span class="sh">
</span></span></span><span class="line"><span class="cl"><span class="sh">  Returns a map of characters to frequencies.
</span></span></span><span class="line"><span class="cl"><span class="sh">
</span></span></span><span class="line"><span class="cl"><span class="sh">  The number of worker processes to use can be set with &#39;workers&#39;.
</span></span></span><span class="line"><span class="cl"><span class="sh">  &#34;&#34;&#34;</span>
</span></span><span class="line"><span class="cl">  <span class="na">@spec</span> <span class="n">frequency</span><span class="p">([</span><span class="nc">String</span><span class="o">.</span><span class="n">t</span><span class="p">()],</span> <span class="n">pos_integer</span><span class="p">)</span> <span class="o">::</span> <span class="n">map</span>
</span></span><span class="line"><span class="cl">  <span class="kd">def</span> <span class="n">frequency</span><span class="p">(</span><span class="n">texts</span><span class="p">,</span> <span class="n">workers</span> <span class="p">\\</span> <span class="mi">1</span><span class="p">)</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">    <span class="n">main_pid</span> <span class="o">=</span> <span class="n">self</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">    <span class="n">collator_pid</span> <span class="o">=</span> <span class="n">spawn</span><span class="p">(</span><span class="k">fn</span> <span class="o">-&gt;</span> <span class="n">collate</span><span class="p">(</span><span class="n">main_pid</span><span class="p">,</span> <span class="n">workers</span><span class="p">,</span> <span class="p">%{})</span> <span class="k">end</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="n">looper_pid</span> <span class="o">=</span> <span class="n">spawn</span><span class="p">(</span><span class="k">fn</span> <span class="o">-&gt;</span> <span class="n">loop</span><span class="p">(</span><span class="n">texts</span><span class="p">)</span> <span class="k">end</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="nc">Enum</span><span class="o">.</span><span class="n">each</span><span class="p">(</span>
</span></span><span class="line"><span class="cl">      <span class="mi">1</span><span class="o">..</span><span class="n">workers</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">      <span class="k">fn</span> <span class="n">_</span> <span class="o">-&gt;</span> <span class="n">send</span><span class="p">(</span>
</span></span><span class="line"><span class="cl">        <span class="n">spawn</span><span class="p">(</span><span class="k">fn</span> <span class="o">-&gt;</span> <span class="n">work</span><span class="p">(</span><span class="n">looper_pid</span><span class="p">,</span> <span class="n">collator_pid</span><span class="p">)</span> <span class="k">end</span><span class="p">),</span>
</span></span><span class="line"><span class="cl">        <span class="ss">:start</span>
</span></span><span class="line"><span class="cl">       <span class="p">)</span> 
</span></span><span class="line"><span class="cl">      <span class="k">end</span>
</span></span><span class="line"><span class="cl">    <span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="c1">#IO.puts(&#34;main process waiting...&#34;)</span>
</span></span><span class="line"><span class="cl">    <span class="k">receive</span> <span class="k">do</span>
</span></span><span class="line"><span class="cl">      <span class="n">map</span> <span class="o">-&gt;</span> <span class="n">map</span>
</span></span><span class="line"><span class="cl">    <span class="k">end</span>
</span></span><span class="line"><span class="cl">  <span class="k">end</span>
</span></span><span class="line"><span class="cl"><span class="k">end</span>
</span></span></code></pre>
