<pre class="chroma"><code><span class="line"><span class="cl"><span class="kn">module </span><span class="nc">Pal</span> <span class="nv">exposing</span> <span class="nf">(..)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="cm">{--
</span></span></span><span class="line"><span class="cl"><span class="cm">The Palette type holds, displays, and allows for the editing of
</span></span></span><span class="line"><span class="cl"><span class="cm">available Colors.
</span></span></span><span class="line"><span class="cl"><span class="cm">--}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Color</span> <span class="nv">exposing</span> <span class="p">(</span><span class="kt">Color</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Dict</span> <span class="nv">exposing</span> <span class="p">(</span><span class="kt">Dict</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Html</span> <span class="nv">exposing</span> <span class="p">(</span><span class="kt">Html</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Html.Attributes</span> <span class="kr">as</span> <span class="kt">Attributes</span>
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Html.Events</span> <span class="kr">as</span> <span class="kt">Events</span>
</span></span><span class="line"><span class="cl"><span class="kn">import </span><span class="nc">Util</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Data type for holding editable text.</span>
</span></span><span class="line"><span class="cl"><span class="kr">type</span> <span class="kt">Text</span>
</span></span><span class="line"><span class="cl">    <span class="nf">=</span> <span class="kt">Display</span> <span class="kt">String</span>
</span></span><span class="line"><span class="cl">    <span class="nf">|</span> <span class="kt">Editing</span> <span class="kt">String</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Retrieve the text from either variant.</span>
</span></span><span class="line"><span class="cl"><span class="nv">getText</span> <span class="nf">:</span> <span class="kt">Text</span> <span class="nf">-&gt;</span> <span class="kt">String</span>
</span></span><span class="line"><span class="cl"><span class="nv">getText</span> <span class="nv">t</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">case</span> <span class="nv">t</span> <span class="kr">of</span>
</span></span><span class="line"><span class="cl">        <span class="kt">Display</span> <span class="nv">s</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="nv">s</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="kt">Editing</span> <span class="nv">s</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="nv">s</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- A single indexed Palette entry.</span>
</span></span><span class="line"><span class="cl"><span class="kr">type</span> <span class="kr">alias</span> <span class="kt">Entry</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">id</span> <span class="nf">:</span> <span class="kt">Int</span>
</span></span><span class="line"><span class="cl">    <span class="p">,</span> <span class="nv">name</span> <span class="nf">:</span> <span class="kt">Text</span>
</span></span><span class="line"><span class="cl">    <span class="p">,</span> <span class="nv">color</span> <span class="nf">:</span> <span class="kt">Color</span>
</span></span><span class="line"><span class="cl">    <span class="c1">-- Whether the color adjustment controls should be visible.</span>
</span></span><span class="line"><span class="cl">    <span class="p">,</span> <span class="nv">expanded</span> <span class="nf">:</span> <span class="kt">Bool</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Create a new Entry with a default color.</span>
</span></span><span class="line"><span class="cl"><span class="nv">default</span> <span class="nf">:</span> <span class="kt">Int</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl"><span class="nv">default</span> <span class="nv">n</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">let</span>
</span></span><span class="line"><span class="cl">        <span class="nv">name</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="s">&#34;Color &#34;</span> <span class="nf">++</span> <span class="kt">String</span><span class="nf">.</span><span class="nv">fromInt</span> <span class="nv">n</span> <span class="nf">|&gt;</span> <span class="kt">Display</span>
</span></span><span class="line"><span class="cl">    <span class="kr">in</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Entry</span> <span class="nv">n</span> <span class="nv">name</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">black</span> <span class="kt">False</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Create a new Entry with the same color.</span>
</span></span><span class="line"><span class="cl"><span class="nv">clone</span> <span class="nf">:</span> <span class="kt">Int</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl"><span class="nv">clone</span> <span class="nv">n</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">let</span>
</span></span><span class="line"><span class="cl">        <span class="nv">name</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="s">&#34;Color &#34;</span> <span class="nf">++</span> <span class="kt">String</span><span class="nf">.</span><span class="nv">fromInt</span> <span class="nv">n</span> <span class="nf">|&gt;</span> <span class="kt">Display</span>
</span></span><span class="line"><span class="cl">    <span class="kr">in</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Entry</span> <span class="nv">n</span> <span class="nv">name</span> <span class="p">(</span><span class="kt">Color</span><span class="nf">.</span><span class="nv">copy</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="p">)</span> <span class="kt">False</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- name getter</span>
</span></span><span class="line"><span class="cl"><span class="nv">getName</span> <span class="nf">:</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">String</span>
</span></span><span class="line"><span class="cl"><span class="nv">getName</span> <span class="nv">entry</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="nv">getText</span> <span class="nv">entry</span><span class="nf">.</span><span class="nv">name</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Update the given element of this Entry&#39;s color with the a hexadecimal</span>
</span></span><span class="line"><span class="cl"><span class="c1">-- value from an &lt;input&gt;.</span>
</span></span><span class="line"><span class="cl"><span class="nv">updColor</span> <span class="nf">:</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">Elt</span> <span class="nf">-&gt;</span> <span class="kt">String</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl"><span class="nv">updColor</span> <span class="nv">ent</span> <span class="nv">e</span> <span class="nv">val</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">let</span>
</span></span><span class="line"><span class="cl">        <span class="nv">n</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Util</span><span class="nf">.</span><span class="nv">hexToByteOr</span> <span class="mi">0</span> <span class="nv">val</span>
</span></span><span class="line"><span class="cl">    <span class="kr">in</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">color</span> <span class="nf">=</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">update</span> <span class="nv">e</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span> <span class="nv">n</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Update the given element of this Entry&#39;s color with the decimal value</span>
</span></span><span class="line"><span class="cl"><span class="c1">-- from an &lt;input&gt;.</span>
</span></span><span class="line"><span class="cl"><span class="nv">updColorDec</span> <span class="nf">:</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">Elt</span> <span class="nf">-&gt;</span> <span class="kt">String</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl"><span class="nv">updColorDec</span> <span class="nv">ent</span> <span class="nv">e</span> <span class="nv">val</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">let</span>
</span></span><span class="line"><span class="cl">        <span class="nv">n</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="kt">String</span><span class="nf">.</span><span class="nv">toInt</span> <span class="nv">val</span> <span class="nf">|&gt;</span> <span class="kt">Maybe</span><span class="nf">.</span><span class="nv">withDefault</span> <span class="mi">0</span>
</span></span><span class="line"><span class="cl">    <span class="kr">in</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">color</span> <span class="nf">=</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">update</span> <span class="nv">e</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span> <span class="nv">n</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">--- View</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">minAttr</span> <span class="nf">:</span> <span class="kt">Html</span><span class="nf">.</span><span class="kt">Attribute</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">minAttr</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">min</span> <span class="s">&#34;0&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">maxAttr</span> <span class="nf">:</span> <span class="kt">Html</span><span class="nf">.</span><span class="kt">Attribute</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">maxAttr</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">max</span> <span class="s">&#34;255&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">nameView</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">nameView</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">case</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">name</span> <span class="kr">of</span>
</span></span><span class="line"><span class="cl">        <span class="kt">Display</span> <span class="nv">s</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;name-entry&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="p">,</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onClick</span> <span class="p">({</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">name</span> <span class="nf">=</span> <span class="kt">Editing</span> <span class="nv">s</span> <span class="p">}</span> <span class="nf">|&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">text</span> <span class="nv">s</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="kt">Editing</span> <span class="nv">s</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span> <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;name-entry&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">                    <span class="p">[</span> <span class="kt">Util</span><span class="nf">.</span><span class="nv">onChange</span> <span class="p">(</span><span class="nf">\</span><span class="nv">v</span> <span class="nf">-&gt;</span> <span class="p">{</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">name</span> <span class="nf">=</span> <span class="kt">Display</span> <span class="nv">v</span> <span class="p">}</span> <span class="nf">|&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                    <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span> <span class="nv">s</span>
</span></span><span class="line"><span class="cl">                    <span class="p">]</span>
</span></span><span class="line"><span class="cl">                    <span class="p">[]</span>
</span></span><span class="line"><span class="cl">                <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">expandButton</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">expandButton</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">if</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">expanded</span> <span class="kr">then</span>
</span></span><span class="line"><span class="cl">        <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">button</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onClick</span> <span class="p">({</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">expanded</span> <span class="nf">=</span> <span class="kt">False</span> <span class="p">}</span> <span class="nf">|&gt;</span> <span class="nv">update</span><span class="p">)</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">text</span> <span class="s">&#34;[^]&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="kr">else</span>
</span></span><span class="line"><span class="cl">        <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">button</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onClick</span> <span class="p">({</span> <span class="nv">ent</span> <span class="nf">|</span> <span class="nv">expanded</span> <span class="nf">=</span> <span class="kt">True</span> <span class="p">}</span> <span class="nf">|&gt;</span> <span class="nv">update</span><span class="p">)</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">text</span> <span class="s">&#34;[v]&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">colorBlocks</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">colorBlocks</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Html</span><span class="nf">.</span><span class="nv">div</span> <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;colorblocks&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColor</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">R</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;red&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span> <span class="p">(</span><span class="kt">Util</span><span class="nf">.</span><span class="nv">byteToHex</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">r</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColor</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">G</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;green&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span> <span class="p">(</span><span class="kt">Util</span><span class="nf">.</span><span class="nv">byteToHex</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">g</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColor</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">B</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;blue&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span> <span class="p">(</span><span class="kt">Util</span><span class="nf">.</span><span class="nv">byteToHex</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">b</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">colorBars</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">colorBars</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Html</span><span class="nf">.</span><span class="nv">div</span> <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;colorbars&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">type_</span> <span class="s">&#34;range&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">minAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">maxAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">String</span><span class="nf">.</span><span class="nv">fromInt</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">r</span> <span class="nf">|&gt;</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;red&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColorDec</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">R</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">br</span> <span class="p">[]</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">type_</span> <span class="s">&#34;range&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">minAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">maxAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">String</span><span class="nf">.</span><span class="nv">fromInt</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">g</span> <span class="nf">|&gt;</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;green&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColorDec</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">G</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">br</span> <span class="p">[]</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">input</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">type_</span> <span class="s">&#34;range&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">minAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="nv">maxAttr</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">String</span><span class="nf">.</span><span class="nv">fromInt</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="nf">.</span><span class="nv">b</span> <span class="nf">|&gt;</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">value</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">title</span> <span class="s">&#34;blue&#34;</span>
</span></span><span class="line"><span class="cl">            <span class="p">,</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onInput</span> <span class="p">(</span><span class="nv">updColorDec</span> <span class="nv">ent</span> <span class="kt">Color</span><span class="nf">.</span><span class="kt">B</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">viewEntry</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="p">(</span><span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">viewEntry</span> <span class="nv">update</span> <span class="nv">drop</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Html</span><span class="nf">.</span><span class="nv">tr</span>
</span></span><span class="line"><span class="cl">        <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;palette-row&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">cssStr</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span> <span class="nf">|&gt;</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">style</span> <span class="s">&#34;background-color&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">contrast</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span> <span class="nf">|&gt;</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">cssStr</span> <span class="nf">|&gt;</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">style</span> <span class="s">&#34;color&#34;</span>
</span></span><span class="line"><span class="cl">        <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">[</span> <span class="nv">nameView</span> <span class="nv">update</span> <span class="nv">ent</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="nv">expandButton</span> <span class="nv">update</span> <span class="nv">ent</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">            <span class="p">(</span><span class="kr">if</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">expanded</span> <span class="kr">then</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="nv">colorBlocks</span> <span class="nv">update</span> <span class="nv">ent</span><span class="p">,</span> <span class="nv">colorBars</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">             <span class="kr">else</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="nv">colorBlocks</span> <span class="nv">update</span> <span class="nv">ent</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">td</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">button</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">class</span> <span class="s">&#34;remove-color&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="p">,</span> <span class="kr">if</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">id</span> <span class="nf">&lt;</span> <span class="mi">2</span> <span class="kr">then</span>
</span></span><span class="line"><span class="cl">                    <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">disabled</span> <span class="kt">True</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">                  <span class="kr">else</span>
</span></span><span class="line"><span class="cl">                    <span class="kt">Events</span><span class="nf">.</span><span class="nv">onClick</span> <span class="p">(</span><span class="nv">drop</span> <span class="nv">ent</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">text</span> <span class="s">&#34;[-]&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Palette Type</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kr">type</span> <span class="kr">alias</span> <span class="kt">Palette</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">curId</span> <span class="nf">:</span> <span class="kt">Int</span>
</span></span><span class="line"><span class="cl">    <span class="p">,</span> <span class="nv">entries</span> <span class="nf">:</span> <span class="kt">Dict</span> <span class="kt">Int</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">empty</span> <span class="nf">:</span> <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl"><span class="nv">empty</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Palette</span> <span class="mi">0</span> <span class="kt">Dict</span><span class="nf">.</span><span class="nv">empty</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">minimal</span> <span class="nf">:</span> <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl"><span class="nv">minimal</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">let</span>
</span></span><span class="line"><span class="cl">        <span class="nv">dark</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Entry</span> <span class="mi">0</span> <span class="p">(</span><span class="kt">Display</span> <span class="s">&#34;dark&#34;</span><span class="p">)</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">dark</span> <span class="kt">False</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="nv">light</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Entry</span> <span class="mi">1</span> <span class="p">(</span><span class="kt">Display</span> <span class="s">&#34;light&#34;</span><span class="p">)</span> <span class="kt">Color</span><span class="nf">.</span><span class="nv">light</span> <span class="kt">False</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="nv">entries</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Dict</span><span class="nf">.</span><span class="nv">singleton</span> <span class="mi">0</span> <span class="nv">dark</span> <span class="nf">|&gt;</span> <span class="kt">Dict</span><span class="nf">.</span><span class="nv">insert</span> <span class="mi">1</span> <span class="nv">light</span>
</span></span><span class="line"><span class="cl">    <span class="kr">in</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Palette</span> <span class="mi">3</span> <span class="nv">entries</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">add</span> <span class="nf">:</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl"><span class="nv">add</span> <span class="nv">pal</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kr">case</span> <span class="kt">Dict</span><span class="nf">.</span><span class="nv">values</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span> <span class="nf">|&gt;</span> <span class="kt">List</span><span class="nf">.</span><span class="nv">reverse</span> <span class="nf">|&gt;</span> <span class="kt">List</span><span class="nf">.</span><span class="nv">head</span> <span class="kr">of</span>
</span></span><span class="line"><span class="cl">        <span class="kt">Nothing</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span> <span class="nf">+</span> <span class="mi">1</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="kt">Dict</span><span class="nf">.</span><span class="nv">singleton</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span> <span class="p">(</span><span class="nv">default</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">        <span class="kt">Just</span> <span class="nv">ent</span> <span class="nf">-&gt;</span>
</span></span><span class="line"><span class="cl">            <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span> <span class="nf">+</span> <span class="mi">1</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="kt">Dict</span><span class="nf">.</span><span class="nv">insert</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span> <span class="p">(</span><span class="nv">clone</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">curId</span> <span class="nv">ent</span><span class="p">)</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">remove</span> <span class="nf">:</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl"><span class="nv">remove</span> <span class="nv">pal</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">pal</span> <span class="nf">|</span> <span class="nv">entries</span> <span class="nf">=</span> <span class="kt">Dict</span><span class="nf">.</span><span class="nv">remove</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">id</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">updEnt</span> <span class="nf">:</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Entry</span> <span class="nf">-&gt;</span> <span class="kt">Palette</span>
</span></span><span class="line"><span class="cl"><span class="nv">updEnt</span> <span class="nv">pal</span> <span class="nv">ent</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="p">{</span> <span class="nv">pal</span> <span class="nf">|</span> <span class="nv">entries</span> <span class="nf">=</span> <span class="kt">Dict</span><span class="nf">.</span><span class="nv">insert</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">id</span> <span class="nv">ent</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">get</span> <span class="nf">:</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Int</span> <span class="nf">-&gt;</span> <span class="kt">Maybe</span> <span class="kt">Entry</span>
</span></span><span class="line"><span class="cl"><span class="nv">get</span> <span class="nv">pal</span> <span class="nv">n</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Dict</span><span class="nf">.</span><span class="nv">get</span> <span class="nv">n</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">getColor</span> <span class="nf">:</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Int</span> <span class="nf">-&gt;</span> <span class="kt">Maybe</span> <span class="kt">Color</span>
</span></span><span class="line"><span class="cl"><span class="nv">getColor</span> <span class="nv">pal</span> <span class="nv">n</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="nv">get</span> <span class="nv">pal</span> <span class="nv">n</span> <span class="nf">|&gt;</span> <span class="kt">Maybe</span><span class="nf">.</span><span class="nv">map</span> <span class="p">(</span><span class="nf">\</span><span class="nv">ent</span> <span class="nf">-&gt;</span> <span class="nv">ent</span><span class="nf">.</span><span class="nv">color</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- View</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nv">view</span> <span class="nf">:</span> <span class="p">(</span><span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="nv">a</span><span class="p">)</span> <span class="nf">-&gt;</span> <span class="kt">Palette</span> <span class="nf">-&gt;</span> <span class="kt">Html</span> <span class="nv">a</span>
</span></span><span class="line"><span class="cl"><span class="nv">view</span> <span class="nv">update</span> <span class="nv">pal</span> <span class="nf">=</span>
</span></span><span class="line"><span class="cl">    <span class="kt">Html</span><span class="nf">.</span><span class="nv">div</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">        <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">table</span> <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">id</span> <span class="s">&#34;palette-table&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">tbody</span> <span class="p">[]</span>
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="kt">List</span><span class="nf">.</span><span class="nv">map</span>
</span></span><span class="line"><span class="cl">                    <span class="p">(</span><span class="nv">viewEntry</span> <span class="p">(</span><span class="nv">updEnt</span> <span class="nv">pal</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">)</span> <span class="p">(</span><span class="nv">remove</span> <span class="nv">pal</span> <span class="nf">&gt;&gt;</span> <span class="nv">update</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                    <span class="p">(</span><span class="kt">Dict</span><span class="nf">.</span><span class="nv">values</span> <span class="nv">pal</span><span class="nf">.</span><span class="nv">entries</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">,</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">div</span> <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">id</span> <span class="s">&#34;palette-footer&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">button</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Attributes</span><span class="nf">.</span><span class="nv">id</span> <span class="s">&#34;palette-add&#34;</span>
</span></span><span class="line"><span class="cl">                <span class="p">,</span> <span class="kt">Events</span><span class="nf">.</span><span class="nv">onClick</span> <span class="p">(</span><span class="nv">add</span> <span class="nv">pal</span> <span class="nf">|&gt;</span> <span class="nv">update</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                <span class="p">]</span>
</span></span><span class="line"><span class="cl">                <span class="p">[</span> <span class="kt">Html</span><span class="nf">.</span><span class="nv">text</span> <span class="s">&#34;[+]&#34;</span> <span class="p">]</span>
</span></span><span class="line"><span class="cl">            <span class="p">]</span>
</span></span><span class="line"><span class="cl">        <span class="p">]</span>
</span></span></code></pre>
