<pre class="chroma"><code><span class="line"><span class="cl"><span class="c1">// njbrender.go
</span></span></span><span class="line"><span class="cl"><span class="c1">//
</span></span></span><span class="line"><span class="cl"><span class="c1">// Custom markdown renderer for njb.
</span></span></span><span class="line"><span class="cl"><span class="c1">//
</span></span></span><span class="line"><span class="cl"><span class="c1">// 2021-02-23
</span></span></span><span class="line"><span class="cl"><span class="c1">// (updated to stay in line with small chroma API change)
</span></span></span><span class="line"><span class="cl"><span class="c1">//
</span></span></span><span class="line"><span class="cl"><span class="c1"></span><span class="kn">package</span> <span class="nx">main</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kn">import</span><span class="p">(</span> <span class="s">&#34;fmt&#34;</span><span class="p">;</span> <span class="s">&#34;io&#34;</span><span class="p">;</span> <span class="s">&#34;io/ioutil&#34;</span><span class="p">;</span> <span class="s">&#34;os&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/gomarkdown/markdown&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/gomarkdown/markdown/ast&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/gomarkdown/markdown/html&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/gomarkdown/markdown/parser&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/alecthomas/chroma&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/alecthomas/chroma/lexers&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="s">&#34;github.com/alecthomas/chroma/styles&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">        <span class="nx">chtml</span> <span class="s">&#34;github.com/alecthomas/chroma/formatters/html&#34;</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">var</span> <span class="nx">fmtr</span> <span class="nx">chroma</span><span class="p">.</span><span class="nx">Formatter</span>
</span></span><span class="line"><span class="cl"><span class="kd">var</span> <span class="nx">isSetup</span> <span class="kt">bool</span> <span class="p">=</span> <span class="kc">false</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">func</span> <span class="nf">setupSyntax</span><span class="p">()</span> <span class="kt">error</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="nx">fmtr</span> <span class="p">=</span> <span class="nx">chtml</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="nx">chtml</span><span class="p">.</span><span class="nf">WithClasses</span><span class="p">(</span><span class="kc">true</span><span class="p">),</span> <span class="nx">chtml</span><span class="p">.</span><span class="nf">TabWidth</span><span class="p">(</span><span class="mi">4</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="nx">fmtr</span> <span class="o">==</span> <span class="kc">nil</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="k">return</span> <span class="nx">fmt</span><span class="p">.</span><span class="nf">Errorf</span><span class="p">(</span><span class="s">&#34;Unable to setup output formatter.&#34;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">isSetup</span> <span class="p">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">        <span class="k">return</span> <span class="kc">nil</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">func</span> <span class="nf">writeCode</span><span class="p">(</span><span class="nx">w</span> <span class="nx">io</span><span class="p">.</span><span class="nx">Writer</span><span class="p">,</span> <span class="nx">text</span><span class="p">,</span> <span class="nx">codeType</span> <span class="kt">string</span><span class="p">)</span> <span class="kt">error</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="p">!</span><span class="nx">isSetup</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">err</span> <span class="o">:=</span> <span class="nf">setupSyntax</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">        <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span> <span class="k">return</span> <span class="nx">err</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nx">lxr</span> <span class="o">:=</span> <span class="nx">lexers</span><span class="p">.</span><span class="nf">Get</span><span class="p">(</span><span class="nx">codeType</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="nx">lxr</span> <span class="o">==</span> <span class="kc">nil</span> <span class="p">{</span> <span class="nx">lxr</span> <span class="p">=</span> <span class="nx">lexers</span><span class="p">.</span><span class="nx">Fallback</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nx">lxr</span> <span class="p">=</span> <span class="nx">chroma</span><span class="p">.</span><span class="nf">Coalesce</span><span class="p">(</span><span class="nx">lxr</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="nx">stuff</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">lxr</span><span class="p">.</span><span class="nf">Tokenise</span><span class="p">(</span><span class="kc">nil</span><span class="p">,</span> <span class="nx">text</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span> <span class="k">return</span> <span class="nx">err</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="k">return</span> <span class="nx">fmtr</span><span class="p">.</span><span class="nf">Format</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">styles</span><span class="p">.</span><span class="nx">Fallback</span><span class="p">,</span> <span class="nx">stuff</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">func</span> <span class="nf">renderHookCodeInfo</span><span class="p">(</span><span class="nx">w</span> <span class="nx">io</span><span class="p">.</span><span class="nx">Writer</span><span class="p">,</span> <span class="nx">node</span> <span class="nx">ast</span><span class="p">.</span><span class="nx">Node</span><span class="p">,</span> <span class="nx">entering</span> <span class="kt">bool</span><span class="p">)</span> <span class="p">(</span><span class="nx">ast</span><span class="p">.</span><span class="nx">WalkStatus</span><span class="p">,</span> <span class="kt">bool</span><span class="p">)</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="c1">// skip if not an ast.CodeBlock
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>    <span class="k">if</span> <span class="nx">n</span><span class="p">,</span> <span class="nx">ok</span> <span class="o">:=</span> <span class="nx">node</span><span class="p">.(</span><span class="o">*</span><span class="nx">ast</span><span class="p">.</span><span class="nx">CodeBlock</span><span class="p">);</span> <span class="p">!</span><span class="nx">ok</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="k">return</span> <span class="nx">ast</span><span class="p">.</span><span class="nx">GoToNext</span><span class="p">,</span> <span class="kc">false</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="c1">//~ err := quick.Highlight(w, string(n.Literal), string(n.Info),
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>                              <span class="c1">//~ &#34;html&#34;, &#34;default&#34;)
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>        <span class="nx">err</span> <span class="o">:=</span> <span class="nf">writeCode</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nb">string</span><span class="p">(</span><span class="nx">n</span><span class="p">.</span><span class="nx">Literal</span><span class="p">),</span> <span class="nb">string</span><span class="p">(</span><span class="nx">n</span><span class="p">.</span><span class="nx">Info</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">        <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintf</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stderr</span><span class="p">,</span> <span class="s">&#34;Error parsing code block: %s\n&#34;</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">        <span class="k">return</span> <span class="nx">ast</span><span class="p">.</span><span class="nx">GoToNext</span><span class="p">,</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">func</span> <span class="nf">main</span><span class="p">()</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="kd">var</span> <span class="nx">input</span> <span class="p">[]</span><span class="kt">byte</span>
</span></span><span class="line"><span class="cl">    <span class="kd">var</span> <span class="nx">err</span> <span class="kt">error</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="nx">input</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">ioutil</span><span class="p">.</span><span class="nf">ReadAll</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stdin</span><span class="p">);</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintf</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stderr</span><span class="p">,</span> <span class="s">&#34;Error reading from stdin: %s\n&#34;</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="nx">os</span><span class="p">.</span><span class="nf">Exit</span><span class="p">(</span><span class="o">-</span><span class="mi">1</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="nx">extensions</span> <span class="o">:=</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">Tables</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">FencedCode</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">Footnotes</span> <span class="p">|</span>
</span></span><span class="line"><span class="cl">                     <span class="nx">parser</span><span class="p">.</span><span class="nx">Strikethrough</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">SpaceHeadings</span> <span class="p">|</span>
</span></span><span class="line"><span class="cl">                     <span class="nx">parser</span><span class="p">.</span><span class="nx">HeadingIDs</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">BackslashLineBreak</span> <span class="p">|</span>
</span></span><span class="line"><span class="cl">                     <span class="nx">parser</span><span class="p">.</span><span class="nx">DefinitionLists</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">OrderedListStart</span> <span class="p">|</span>
</span></span><span class="line"><span class="cl">                     <span class="nx">parser</span><span class="p">.</span><span class="nx">SuperSubscript</span> <span class="p">|</span> <span class="nx">parser</span><span class="p">.</span><span class="nx">MathJax</span>
</span></span><span class="line"><span class="cl">    <span class="nx">htmlFlags</span> <span class="o">:=</span> <span class="nx">html</span><span class="p">.</span><span class="nx">CommonFlags</span> <span class="p">|</span> <span class="nx">html</span><span class="p">.</span><span class="nx">FootnoteReturnLinks</span>
</span></span><span class="line"><span class="cl">    <span class="c1">// This includes html.Smartypants | html.SmartypantsFractions |
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>    <span class="c1">//               html.SmartypantsLatexDashes
</span></span></span><span class="line"><span class="cl"><span class="c1"></span>    <span class="nx">params</span> <span class="o">:=</span> <span class="nx">html</span><span class="p">.</span><span class="nx">RendererOptions</span><span class="p">{</span>
</span></span><span class="line"><span class="cl">                <span class="nx">Flags</span><span class="p">:</span> <span class="nx">htmlFlags</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">                <span class="nx">RenderNodeHook</span><span class="p">:</span> <span class="nx">renderHookCodeInfo</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">              <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="nx">renderer</span> <span class="o">:=</span> <span class="nx">html</span><span class="p">.</span><span class="nf">NewRenderer</span><span class="p">(</span><span class="nx">params</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="kd">var</span> <span class="nx">output</span> <span class="p">[]</span><span class="kt">byte</span>
</span></span><span class="line"><span class="cl">    <span class="nx">parser</span> <span class="o">:=</span> <span class="nx">parser</span><span class="p">.</span><span class="nf">NewWithExtensions</span><span class="p">(</span><span class="nx">extensions</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="nx">output</span> <span class="p">=</span> <span class="nx">markdown</span><span class="p">.</span><span class="nf">ToHTML</span><span class="p">(</span><span class="nx">input</span><span class="p">,</span> <span class="nx">parser</span><span class="p">,</span> <span class="nx">renderer</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="k">if</span> <span class="nx">_</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">os</span><span class="p">.</span><span class="nx">Stdout</span><span class="p">.</span><span class="nf">Write</span><span class="p">(</span><span class="nx">output</span><span class="p">);</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">        <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintf</span><span class="p">(</span><span class="nx">os</span><span class="p">.</span><span class="nx">Stderr</span><span class="p">,</span> <span class="s">&#34;Error writing output: %s\n&#34;</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="nx">os</span><span class="p">.</span><span class="nf">Exit</span><span class="p">(</span><span class="o">-</span><span class="mi">1</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span></code></pre>
