<pre class="chroma"><code><span class="line"><span class="cl"><span class="cm">--[[
</span></span></span><span class="line"><span class="cl"><span class="cm">cga.lua
</span></span></span><span class="line"><span class="cl"><span class="cm">
</span></span></span><span class="line"><span class="cl"><span class="cm">A tribute to IBM&#39;s Color Graphics Adapter&#39;s Palette 1
</span></span></span><span class="line"><span class="cl"><span class="cm">Lite XL version 1.0 2023-10-04
</span></span></span><span class="line"><span class="cl"><span class="cm">
</span></span></span><span class="line"><span class="cl"><span class="cm">author/maintainer: Dan (github.com/d2718)
</span></span></span><span class="line"><span class="cl"><span class="cm">--]]</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">style</span> <span class="o">=</span> <span class="n">require</span> <span class="s2">&#34;core.style&#34;</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">common</span> <span class="o">=</span> <span class="n">require</span> <span class="s2">&#34;core.common&#34;</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Reset all syntax fonts to the base font.</span>
</span></span><span class="line"><span class="cl"><span class="kr">for</span> <span class="n">k</span><span class="p">,</span><span class="n">v</span> <span class="kr">in</span> <span class="n">pairs</span><span class="p">(</span><span class="n">style.syntax_fonts</span><span class="p">)</span> <span class="kr">do</span>
</span></span><span class="line"><span class="cl">  <span class="n">style.syntax_fonts</span><span class="p">[</span><span class="n">k</span><span class="p">]</span> <span class="o">=</span> <span class="n">style.code_font</span>
</span></span><span class="line"><span class="cl"><span class="kr">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">-- Make a copy of the base `style.code_font` with the given option set.</span>
</span></span><span class="line"><span class="cl"><span class="c1">-- Ex: get_styled_font(&#34;bold&#34;)</span>
</span></span><span class="line"><span class="cl"><span class="c1">--   for a bold version of the base font.</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="kr">function</span> <span class="nf">get_styled_font</span><span class="p">(</span><span class="n">stylestr</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="kd">local</span> <span class="n">ok</span><span class="p">,</span> <span class="n">options</span> <span class="o">=</span> <span class="n">pcall</span><span class="p">(</span>
</span></span><span class="line"><span class="cl">        <span class="kr">function</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">            <span class="kd">local</span> <span class="n">cfg</span> <span class="o">=</span> <span class="n">dofile</span><span class="p">(</span><span class="n">SETTINGS_FILE</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">            <span class="kr">return</span> <span class="n">cfg.config</span><span class="p">.</span><span class="n">code_font.options</span>
</span></span><span class="line"><span class="cl">        <span class="kr">end</span>
</span></span><span class="line"><span class="cl">    <span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="kr">if</span> <span class="ow">not</span> <span class="n">ok</span> <span class="kr">then</span>
</span></span><span class="line"><span class="cl">        <span class="n">options</span> <span class="o">=</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;antialiasing&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&#34;subpixel&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;hinting&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="s2">&#34;slight&#34;</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;bold&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="kc">false</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;italic&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="kc">false</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;underline&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="kc">false</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;smoothing&#34;</span><span class="p">]</span> <span class="o">=</span>  <span class="kc">false</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">            <span class="p">[</span><span class="s2">&#34;strikethrough&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="kc">false</span><span class="p">,</span>
</span></span><span class="line"><span class="cl">        <span class="p">}</span>
</span></span><span class="line"><span class="cl">    <span class="kr">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">    <span class="n">options.size</span> <span class="o">=</span> <span class="n">style.code_font</span><span class="p">:</span><span class="n">get_size</span><span class="p">()</span>
</span></span><span class="line"><span class="cl">    <span class="n">options</span><span class="p">[</span><span class="n">stylestr</span><span class="p">]</span> <span class="o">=</span> <span class="kc">true</span>
</span></span><span class="line"><span class="cl">    
</span></span><span class="line"><span class="cl">    <span class="kr">return</span> <span class="n">style.code_font</span><span class="p">:</span><span class="n">copy</span><span class="p">(</span><span class="n">options.size</span><span class="p">,</span> <span class="n">options</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="kr">end</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">bold_font</span> <span class="o">=</span> <span class="n">get_styled_font</span><span class="p">(</span><span class="s2">&#34;bold&#34;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">italic_font</span> <span class="o">=</span> <span class="n">get_styled_font</span><span class="p">(</span><span class="s2">&#34;italic&#34;</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">black</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#000000&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">dkgrey</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#222222&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">mdgrey</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#444444&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">ltgrey</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#666666&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">dkwhite</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#888888&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">white</span>   <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#aaaaaa&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">ltwhite</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#cccccc&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">brwhite</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#eeeeee&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">faintcyan</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#183333&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">weakcyan</span>  <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#448888&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">cyan</span>      <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#00aaaa&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">pcyan</span>     <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#55aaaa&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">brpcyan</span>   <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#66cccc&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">whiffcyan</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#aacccc&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">dimmagenta</span>  <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#440044&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">weakmagenta</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#884488&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">magenta</span>     <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#aa00aa&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">hintmagenta</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#aa88aa&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">brpmagenta</span>  <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#cc66cc&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="kd">local</span> <span class="n">whiffmagenta</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span><span class="p">(</span><span class="s2">&#34;#ccaacc&#34;</span><span class="p">)</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="n">style.background</span>  <span class="o">=</span> <span class="n">black</span>  <span class="c1">-- Docview</span>
</span></span><span class="line"><span class="cl"><span class="n">style.background2</span> <span class="o">=</span> <span class="n">dkgrey</span> <span class="c1">-- Treeview</span>
</span></span><span class="line"><span class="cl"><span class="n">style.background3</span> <span class="o">=</span> <span class="n">dkgrey</span> <span class="c1">-- Command view</span>
</span></span><span class="line"><span class="cl"><span class="n">style.text</span>   <span class="o">=</span> <span class="n">white</span>
</span></span><span class="line"><span class="cl"><span class="n">style.caret</span>  <span class="o">=</span> <span class="n">ltwhite</span>
</span></span><span class="line"><span class="cl"><span class="n">style.accent</span> <span class="o">=</span> <span class="n">brpcyan</span>
</span></span><span class="line"><span class="cl"><span class="c1">-- style.dim - text color for nonactive tabs, tabs divider, prefix in log and</span>
</span></span><span class="line"><span class="cl"><span class="c1">-- search result, hotkeys for context menu and command view</span>
</span></span><span class="line"><span class="cl"><span class="n">style.dim</span> <span class="o">=</span> <span class="n">ltgrey</span>
</span></span><span class="line"><span class="cl"><span class="n">style.divider</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span> <span class="s2">&#34;#202024&#34;</span> <span class="p">}</span> <span class="c1">-- Line between nodes</span>
</span></span><span class="line"><span class="cl"><span class="n">style.selection</span> <span class="o">=</span> <span class="n">dimmagenta</span>
</span></span><span class="line"><span class="cl"><span class="n">style.line_number</span>    <span class="o">=</span> <span class="n">ltgrey</span>
</span></span><span class="line"><span class="cl"><span class="n">style.line_number2</span>   <span class="o">=</span> <span class="n">white</span> <span class="c1">-- With cursor</span>
</span></span><span class="line"><span class="cl"><span class="n">style.line_highlight</span> <span class="o">=</span> <span class="n">dkgrey</span>
</span></span><span class="line"><span class="cl"><span class="n">style.scrollbar</span> <span class="o">=</span> <span class="n">white</span>
</span></span><span class="line"><span class="cl"><span class="n">style.scrollbar2</span> <span class="o">=</span> <span class="n">pcyan</span>  <span class="c1">-- Hovered</span>
</span></span><span class="line"><span class="cl"><span class="n">style.scrollbar_track</span> <span class="o">=</span> <span class="n">mdgrey</span>
</span></span><span class="line"><span class="cl"><span class="n">style.nagbar</span> <span class="o">=</span> <span class="n">magenta</span>
</span></span><span class="line"><span class="cl"><span class="n">style.nagbar_text</span> <span class="o">=</span> <span class="n">faintcyan</span>
</span></span><span class="line"><span class="cl"><span class="n">style.nagbar_dim</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span> <span class="s2">&#34;rgba(0, 0, 0, 0.45)&#34;</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="n">style.drag_overlay</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span> <span class="s2">&#34;rgba(255,255,255,0.1)&#34;</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="n">style.drag_overlay_tab</span> <span class="o">=</span> <span class="p">{</span> <span class="n">common.color</span> <span class="s2">&#34;#93DDFA&#34;</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="n">style.good</span>  <span class="o">=</span> <span class="n">white</span>
</span></span><span class="line"><span class="cl"><span class="n">style.warn</span>  <span class="o">=</span> <span class="n">cyan</span>
</span></span><span class="line"><span class="cl"><span class="n">style.error</span> <span class="o">=</span> <span class="n">magenta</span>
</span></span><span class="line"><span class="cl"><span class="n">style.modified</span> <span class="o">=</span> <span class="n">ltgrey</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;normal&#34;</span><span class="p">]</span>   <span class="o">=</span> <span class="n">white</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;symbol&#34;</span><span class="p">]</span>   <span class="o">=</span> <span class="n">white</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;comment&#34;</span><span class="p">]</span>  <span class="o">=</span> <span class="n">ltgrey</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;keyword&#34;</span><span class="p">]</span>  <span class="o">=</span> <span class="n">whiffcyan</span>  <span class="c1">-- local function end if case</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax_fonts</span><span class="p">[</span><span class="s2">&#34;keyword&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">bold_font</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;keyword2&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">whiffmagenta</span> <span class="c1">-- self int float</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax_fonts</span><span class="p">[</span><span class="s2">&#34;keyword2&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">italic_font</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;number&#34;</span><span class="p">]</span>   <span class="o">=</span> <span class="n">ltwhite</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;literal&#34;</span><span class="p">]</span>  <span class="o">=</span> <span class="n">ltwhite</span>  <span class="c1">-- true false nil</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax_fonts</span><span class="p">[</span><span class="s2">&#34;literal&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">bold_font</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;string&#34;</span><span class="p">]</span>   <span class="o">=</span> <span class="n">brpmagenta</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;operator&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">hintmagenta</span> <span class="c1">-- = + - / &lt; &gt;</span>
</span></span><span class="line"><span class="cl"><span class="n">style.syntax</span><span class="p">[</span><span class="s2">&#34;function&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="n">cyan</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="n">style.log</span><span class="p">[</span><span class="s2">&#34;INFO&#34;</span><span class="p">]</span>  <span class="o">=</span> <span class="p">{</span> <span class="n">icon</span> <span class="o">=</span> <span class="s2">&#34;i&#34;</span><span class="p">,</span> <span class="n">color</span> <span class="o">=</span> <span class="n">style.text</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="n">style.log</span><span class="p">[</span><span class="s2">&#34;WARN&#34;</span><span class="p">]</span>  <span class="o">=</span> <span class="p">{</span> <span class="n">icon</span> <span class="o">=</span> <span class="s2">&#34;!&#34;</span><span class="p">,</span> <span class="n">color</span> <span class="o">=</span> <span class="n">style.warn</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl"><span class="n">style.log</span><span class="p">[</span><span class="s2">&#34;ERROR&#34;</span><span class="p">]</span> <span class="o">=</span> <span class="p">{</span> <span class="n">icon</span> <span class="o">=</span> <span class="s2">&#34;!&#34;</span><span class="p">,</span> <span class="n">color</span> <span class="o">=</span> <span class="n">style.error</span> <span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="kr">return</span> <span class="n">style</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span></code></pre>
