<pre class="chroma"><code><span class="line"><span class="cl"><span class="p">(</span><span class="nf">import</span> <span class="p">(</span><span class="nf">rnrs</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="c1">;; Return the smallest coin set that makes up amt-left in change pushed</span>
</span></span><span class="line"><span class="cl"><span class="c1">;; on to the alread-used coins accum, or else #f if it&#39;s impossible to</span>
</span></span><span class="line"><span class="cl"><span class="c1">;; make amt-left with the given coins.</span>
</span></span><span class="line"><span class="cl"><span class="c1">;;</span>
</span></span><span class="line"><span class="cl"><span class="c1">;; This function is recursive, and should be called initially thus:</span>
</span></span><span class="line"><span class="cl"><span class="c1">;; (change-aux #f &#39;() amount 0 coin-denominations)</span>
</span></span><span class="line"><span class="cl"><span class="p">(</span><span class="k">define </span><span class="p">(</span><span class="nf">change-aux</span> <span class="nv">shortest</span> <span class="nv">accum</span> <span class="nv">amt-left</span> <span class="nv">coin-n</span> <span class="nv">coins</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="p">(</span><span class="nf">cond</span>
</span></span><span class="line"><span class="cl">        <span class="p">((</span><span class="nb">= </span><span class="mi">0</span> <span class="nv">amt-left</span><span class="p">)</span> <span class="nv">accum</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="p">((</span><span class="k">and </span><span class="nv">shortest</span> <span class="p">(</span><span class="nb">&lt;= </span><span class="nv">shortest</span> <span class="p">(</span><span class="nb">length </span><span class="nv">accum</span><span class="p">)))</span> <span class="no">#f</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">        <span class="p">(</span><span class="nf">else</span>
</span></span><span class="line"><span class="cl">            <span class="p">(</span><span class="nf">let*</span>
</span></span><span class="line"><span class="cl">                    <span class="p">((</span><span class="nf">this-coin-list</span>
</span></span><span class="line"><span class="cl">                        <span class="p">(</span><span class="k">if </span><span class="p">(</span><span class="nb">&lt; </span><span class="nv">coin-n</span> <span class="p">(</span><span class="nb">length </span><span class="nv">coins</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                            <span class="p">(</span><span class="k">if </span><span class="p">(</span><span class="nb">&lt;= </span><span class="p">(</span><span class="nb">list-ref </span><span class="nv">coins</span> <span class="nv">coin-n</span><span class="p">)</span> <span class="nv">amt-left</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                                <span class="p">(</span><span class="nf">change-aux</span> <span class="nv">shortest</span>
</span></span><span class="line"><span class="cl">                                            <span class="p">(</span><span class="nb">cons </span><span class="p">(</span><span class="nb">list-ref </span><span class="nv">coins</span> <span class="nv">coin-n</span><span class="p">)</span> <span class="nv">accum</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                                            <span class="p">(</span><span class="nb">- </span><span class="nv">amt-left</span> <span class="p">(</span><span class="nb">list-ref </span><span class="nv">coins</span> <span class="nv">coin-n</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                                            <span class="nv">coin-n</span> <span class="nv">coins</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                                <span class="no">#f</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                            <span class="no">#f</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                    <span class="p">(</span><span class="nf">cur-shortest</span> <span class="p">(</span><span class="k">if </span><span class="nv">this-coin-list</span>
</span></span><span class="line"><span class="cl">                                          <span class="p">(</span><span class="nb">length </span><span class="nv">this-coin-list</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                                          <span class="nv">shortest</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                    <span class="p">(</span><span class="nf">next-coin-list</span>
</span></span><span class="line"><span class="cl">                        <span class="p">(</span><span class="k">if </span><span class="p">(</span><span class="nb">&lt;= </span><span class="p">(</span><span class="nb">length </span><span class="nv">coins</span><span class="p">)</span> <span class="nv">coin-n</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                            <span class="no">#f</span>
</span></span><span class="line"><span class="cl">                            <span class="p">(</span><span class="nf">change-aux</span> <span class="nv">cur-shortest</span> <span class="nv">accum</span> <span class="nv">amt-left</span>
</span></span><span class="line"><span class="cl">                                        <span class="p">(</span><span class="nb">+ </span><span class="mi">1</span> <span class="nv">coin-n</span><span class="p">)</span> <span class="nv">coins</span><span class="p">))))</span>
</span></span><span class="line"><span class="cl">            
</span></span><span class="line"><span class="cl">                <span class="p">(</span><span class="nf">cond</span>
</span></span><span class="line"><span class="cl">                    <span class="p">((</span><span class="k">and </span><span class="nv">this-coin-list</span> <span class="nv">next-coin-list</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                        <span class="p">(</span><span class="k">if </span><span class="p">(</span><span class="nb">&lt; </span><span class="p">(</span><span class="nb">length </span><span class="nv">this-coin-list</span><span class="p">)</span> <span class="p">(</span><span class="nb">length </span><span class="nv">next-coin-list</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                            <span class="nv">this-coin-list</span>
</span></span><span class="line"><span class="cl">                            <span class="nv">next-coin-list</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                    <span class="p">((</span><span class="k">or </span><span class="nv">this-coin-list</span> <span class="nv">next-coin-list</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">                        <span class="p">(</span><span class="k">or </span><span class="nv">this-coin-list</span> <span class="nv">next-coin-list</span><span class="p">))</span>
</span></span><span class="line"><span class="cl">                    <span class="p">(</span><span class="k">else </span><span class="no">#f</span><span class="p">))))))</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="p">(</span><span class="k">define </span><span class="p">(</span><span class="nf">change</span> <span class="nv">amount</span> <span class="nv">coins</span><span class="p">)</span>
</span></span><span class="line"><span class="cl">    <span class="p">(</span><span class="k">let </span><span class="p">((</span><span class="nf">shortest</span> <span class="p">(</span><span class="nf">change-aux</span> <span class="no">#f</span> <span class="o">&#39;</span><span class="p">()</span> <span class="nv">amount</span> <span class="mi">0</span> <span class="p">(</span><span class="nf">sort</span> <span class="nv">coins</span> <span class="nv">&gt;</span><span class="p">))))</span>
</span></span><span class="line"><span class="cl">        <span class="p">(</span><span class="k">if </span><span class="nv">shortest</span>
</span></span><span class="line"><span class="cl">            <span class="nv">shortest</span>
</span></span><span class="line"><span class="cl">            <span class="p">(</span><span class="nf">throw</span> <span class="ss">&#39;misc-error</span> <span class="s">&#34;invalid input combination&#34;</span><span class="p">))))</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl">
</span></span></code></pre>
